:root {
  --color-primary: #303030;
  --color-secondary: #424242;
  --color-gray: #fdfdfd;
  --color-white: #ffffff;
  --color-black: #333333;
  --color-green: #0cce6a;
  --color-orange: #ffa500;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: var(--color-primary);
  color: var(--color-white);
}

a {
  color: inherit;
  text-decoration: none;
  border-bottom: 3px solid blue;
}

* {
  box-sizing: border-box;
}

.auto {
  margin-left: auto;
  margin-right: auto;
}
